.tasks{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,112,253,1) 100%);

    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    /* align-items: center; */

    font-family: 'Roboto', sans-serif;
}

.contenedor-tasks{
    background-color: #FFF;
    padding: 30px;
    
    width: 500px;
    min-height: 600px;

    margin-top: 100px;
    margin-bottom: 150px;
}
h1{
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}