<!-- Pratica-01 -->
<app-tasks></app-tasks>


<!-- ================ Directivas ================ -->
<app-semaforo></app-semaforo>

<p [ngStyle]="propiedadesParrafo">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, temporibus?
</p>




<div class="botones" [ngStyle]="{textAlign: 'center'}">

  <button class="btn" [ngStyle]="{'margin': '0 15px', 'background-color': '#008000'}" (click)="carbiarColor('#008000')" >Verde</button>
  <button class="btn" [ngStyle]="{'margin': '0 15px', 'background-color': '#0958D7'}" (click)="carbiarColor('#0958D7')" >Azul</button>
  <button class="btn" [ngStyle]="{'margin': '0 15px', 'background-color': '#C51616'}" (click)="carbiarColor('#C51616')" >Rojo</button>

</div>


<div class="campo">
  <input type="color" [(ngModel)]="propiedadesParrafo.color" >
  <p [ngStyle]="{color: propiedadesParrafo.color}" >Lorem, ipsum dolor.</p>
</div>


<div class="number">
  <input type="number" min="12" value="24" (change)="cambiarTamano($event)" [(ngModel)]="size">
</div>

<!-- Con el evento (change) se modifica el valor al termiar de mover la barra (Cuando suelto el click) -->
<div class="rango">
  <input type="range" min="12" max="42" value="24" (change)="cambiarTamano($event)" [(ngModel)]="size">
</div>

<!-- Con el evento (input) Se modifica el valor en tiempo real -->
<div class="rango-II">
  <input type="range" min="12" max="42" value="24" (input)="cambiarTamano($event)" [(ngModel)]="size">
</div>

<!-- ngIf -->
<h2 class="title">Ng-if</h2>
<app-ngif></app-ngif>

<h2 class="title">Ng-For</h2>
<app-ngfor></app-ngfor>

<!-- ngSwitch -->
<h2 class="title">Ng-Switch</h2>
<app-ngswitch></app-ngswitch>


<!-- === === === Directivas Personalizadas === === === -->
<!-- ================================================= -->
<h2 class="title">ngSubrayado <small>(Personalizada)</small></h2>
<p [ngSubrayado]="{ colorHover: '#05CF08', colorNoHover:'#CF054E' }">Directiva personaliza 'ngSubrayado'</p>
<p ngSubrayado>Directiva personaliza 'ngSubrayado'</p>
<p [ngSubrayado]="{ colorHover: '#FFEE00', colorNoHover:'#0571CF' }">Directiva personaliza 'ngSubrayado'</p>