/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    text-align: center;
    margin-top: 40px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 30px;
}
.btn{
    font-size: 20px;
    border: none;
    padding: 10px 25px;
    border-radius: 3px;
    background-color: cornflowerblue;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.mr-1{ margin-right: 10px; }
.mr-2{ margin-right: 20px; }
.mr-3{ margin-right: 30px; }
.mr-4{ margin-right: 40px; }
.mr-5{ margin-right: 50px; }